/* Css Variables */
:root {
    --color1: #A79277;
    --color2: #D1BB9E;
    --color3: #EAD8C0;
    --color4: #FFF2E1;
    --main-font-size: 24px;
    --big-font-size: 32px;
    --small-font-size: 16px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--color3);
}


/* Start of Navigation */

nav {
    background-color: var(--color1);
    position: sticky;
    top: 0px;
    padding: 26px;
}

nav p {
    display: inline-block;
    line-height: 35px;
    margin: 0px;
    color: var(--color4);
    font-weight: 600;
    font-family: montserrat;
    font-size: var(--big-font-size);
}

nav ul {
    display: inline-block;
    position: absolute;
    right: 10px;
    margin: auto 20px;
}

nav li {
    display: inline-block;
    margin-left: 30px;
}

nav li button:hover {
    font-size: 30px;
    color: var(--color4);
}

nav li button {
    padding: None;
    border: None;
    background-color: transparent;
    color: var(--color3);
    font-weight: 500;
    font-family: montserrat;
    font-size: var(--main-font-size);
    transition: 0.25s;
}

/* End of Navigation */


/* Start of Extra Stuff */

div#body2 {
    margin: 0px 0px;
    padding: 10px;
}

h1 {
    color: var(--color1);
    font-weight: 700;
    font-family: montserrat;
    font-size: var(--big-font-size);
    text-shadow: 0px 0px 0.1px black;
}

h2 {
    color: var(--color1);
    font-weight: 500;
    font-family: montserrat;
    font-size: var(--big-font-size);
    text-shadow: 0px 0px 0.1px black;
}

p {
    color: var(--color2);
    font-weight: 500;
    font-family: montserrat;
    font-size: var(--small-font-size);
    text-shadow: 0px 0px 0.1px black;
}

a {
    color: var(--color1);
    text-decoration-color: var(--color1);
    transition: 0.25s;
}

a p {
    transition: 0.25s;
}

a p:hover {
    font-size: 18px;
    background-color: var(--color1);
}

hr {
    border: solid var(--color1);
    width: 100%;
}

hr#two {
    border: solid 1px var(--color1);
    width: 100%;
}

ul {
    color: var(--color1)
}

footer {
    text-align: center;
    margin-right: 180px;
}

footer#main {
    text-align: center;
    margin-right: 335px;
}

footer p {
    padding: 10px;
    border-radius: 100px;
    position: fixed;
    color: var(--color2);
    font-weight: 400;
    font-family: montserrat;
    font-size: var(--small-font-size);
    bottom: 0px;
    background-color: var(--color3);
    display: inline;
    filter: opacity(0.7);
    transition: 1s;
}

footer p:hover {
    border-radius: 5px;
    background-color: var(--color4);
    filter: opacity(1);
    color: none;
}

.color {
    width: 20px;
    height: 20px;
    border: solid 1px var(--color1);
    border-radius: 3px;
}

.colorgroup {
    display: inline-block;
    margin-left: 25px;
}

div.skillbox {
    width: 40px;
    height: 40px;
    border: solid var(--color1);
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
}

div.skillbox img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* End of Extra Stuff */

/*Projects stuff*/

div#project {
    text-align: center;
    box-sizing: content-box;
}

div#project a img {
    display: inline-block;
    width: 100%;
    transition: 0.5s;
    border: solid var(--color2) 5px;
    border-radius: 10px;
    box-sizing: border-box;
    transition-timing-function: ease-in-out;
    max-height: 450px;
    max-width: 600px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

div#project a img:hover {
    border: solid var(--color1) 20px;
}

div#project a p,
div#project a p:not(:hover) {
    display: inline-block;
    margin: 20px;
    margin-top: -5px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 600px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*End of Projects stuff*/
